{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Dummy login page to test gAuth.">
    <title>Google Registration</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>My Google Login Project</h1>
    <p>Welcome, {{ user.username }} !</p>
    <p>{{ user }}</p>

{% else %}
    <h1>My Google Login Project</h1>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

</body>
</html>